<div class="games">
    <br>

    <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Damas españolas</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/cheeckers.jpg" alt="Photo of a cheeckers">
        <mat-card-content>
          <p>
            Descripción del juego.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button class="btn-block" color="accent" [routerLink]="['/game-board']">Jugar en local</button>
          <button mat-stroked-button class="btn-block" color="accent" [routerLink]="['/game-board']">Jugar multijugador</button>
        </mat-card-actions>
      </mat-card>

      <br>

    <mat-card class="card">
        <mat-card-header>
          <mat-card-title>4 en linea</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/line.jpg" alt="Photo of four in line">
        <mat-card-content>
          <p>
            Descripción del juego.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button class="btn-block" color="accent">Jugar en local</button>
          <button mat-stroked-button class="btn-block" color="accent">Jugar multijugador</button>
        </mat-card-actions>
      </mat-card>

      <br>

    <mat-card class="card">
        <mat-card-header>
          <mat-card-title>Othello</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/othello.png" alt="Photo of a othello">
        <mat-card-content>
          <p>
            Descripción del juego.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button class="btn-block" color="accent">Jugar en local</button>
          <button mat-stroked-button class="btn-block" color="accent">Jugar multijugador</button>
        </mat-card-actions>
      </mat-card>
</div>