<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">

    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form class="example-form" [formGroup]="form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input formControlName="email" matInput placeholder="Email">
          <mat-error>*Este campo es <strong>requerido</strong></mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="password" formControlName="password" matInput placeholder="Contraseña">
          <mat-error>*Este campo es <strong>requerido</strong></mat-error>
        </mat-form-field>

        <a [routerLink]="['/forgot-password']">¿Olvido su contraseña?</a>

      </mat-card-content>

      <button mat-stroked-button color="accent" (click)="login()" class="btn-block">Login</button>
      <button mat-stroked-button color="accent" [routerLink]="['/register-user']" class="btn-block">Registrar</button>
      <button mat-stroked-button color="accent" (click)="loginGoogle()" class="btn-block">Google</button>

    </form>
  </mat-card>

</div>