.board {
    display: block;
    margin: auto;
    width: fit-content;
    height: fit-content;
}

.row {
    display: flex;
}

.space {
    display: flex;
    height: 65px;
    width: 65px;
    position: relative;
    z-index: 1;
}

.piece {
    height: 65px;
    width: 65px;
    position: absolute;
    top: 0px;
    z-index: 3;
}

@media only screen and (max-width: 768px) {
    .space {
        height: 37.25px;
        width: 37.25px;
    }
    .piece {
        height: 37.25px;
        width: 37.25px;
    }
    .toolbar {
        height: 40px;
        font-size: small;
    }
}

.toolbar {
    background-color: white;
}

.spacer {
    flex: 1 1 auto;
}