

<div class="board" *ngIf="boardManager">
    <div>
        <mat-toolbar>
            <span>{{boardManager.player1}}</span>

            <span class="spacer"></span>
            VS
            <span class="spacer"></span>
            <span>{{boardManager.player2}}</span>
        </mat-toolbar>
    </div>
    <div class="row" *ngFor="let row of boardManager.board">
        <div (click)="spaceClick(space)" class="space" *ngFor="let space of row">
            <img [src]="space.getStyle()">
            <div *ngIf="!space.piece; else notnull">
            </div>
            <ng-template #notnull>
                <img class="piece" src="{{space.piece.getPieceImg()}}">
            </ng-template>
        </div>
    </div>
</div>