.board {
    display: block;
    margin: auto;
    height: 600px;
    width: 600px;
}

.row {
    display: flex;
}

.space {
    display: flex;
    height: 75px;
    width: 75px;
    position: relative;
    z-index: 1;
}

.piece {
    height: 75px;
    width: 75px;
    position: absolute;
    top: 0px;
    z-index: 3;
}

@media only screen and (max-width: 768px) {
    .board {
        height: 300px;
        width: 300px;
    }
    .space {
        height: 37.25px;
        width: 37.25px;
    }
    .piece {
        height: 37.25px;
        width: 37.25px;
    }
}